#qlwapp .qlwapp-text {
    display: flex !important;
    background-color: #00bc5d;
    border-radius: 10px;
    color: #fff !important;
    padding: 0 10px;
    top: -80px;
    right: -14px !important
}

#qlwapp .qlwapp-text::after {
    content: ' ';
    position: absolute;
    top: 48px;
    background: #00bc5d;
    transform: rotate(45deg);
    width: 22px;
    height: 22px;
    
}

.animated_plugin {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite
}

@media(max-width:767px) {
    #qlwapp .qlwapp-container .qlwapp-text {
        display: none!important;
    }
}

@-webkit-keyframes bounce_plugin {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-transform: translateY(0)
    }
    50% {
        -webkit-transform: translateY(-10px)
    }
}

@keyframes bounce_plugin {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-10px)
    }
}

.bounce_plugin {
    -webkit-animation-name: bounce_plugin;
    animation-name: bounce_plugin
}


/*# sourceMappingURL=plugin-whatsapp.css.map */