@import 'variaveis';

/* Row Texto
___________________________*/
.error404 {
    main {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 100px;

        h2 {
            margin-bottom: 40px;
            font-size: 200px;

            @media (max-width: 415px) {
                font-size: 100px;
            }
        }
    }
}