.page-template-templatestemplate-blog-php {
    progress {
        display: none !important;
    }

    #bg-cabecalho {
        margin-bottom: 50px;

        .box-titulo {
            .titulo {
                color: $primary;
            }
        }
    }
}


#pesquisa-blog-categorias {
    margin: 44px 0 130px 0;

    .title-box {
        margin-bottom: 77px;

        .title-style {
            text-align: center;
        }
    }

    .form-pesquisa-categoria {
        form {
            margin: 0 auto;
            max-width: 768px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .select {
                position: relative;
                width: 534px;
                max-width: 100%;

                select {
                    cursor: pointer;
                    width: 100%;
                    height: 51px;
                    padding: 0 22px;
                    border: 0;
                    border-radius: 5px;
                    outline: 0;
                    background-color: rgb(255, 255, 255);
                    opacity: 0.8;
                    box-shadow: 0px 7px 25px 0px rgba(63, 63, 63, 0.2);
                    font-size: 16px;
                    font-weight: bold;
                    color: $primary;
                    text-transform: uppercase;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                }

                i {
                    position: absolute;
                    z-index: 9999;
                    right: 0;
                    display: block;
                    color: $primary;
                    right: 15px;
                    pointer-events: none;
                    top: 50%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);

                }
            }

            .button {
                width: 139px;
                max-width: 100%;

                a {
                    width: 100%;
                    padding: 14px 10px;
                    display: inline-block;
                    text-align: center;

                    border-radius: 5px;
                    border: 0;
                    outline: 0;
                    background-color: $primary;
                    box-shadow: 0px 7px 25px 0px $primary-shadow;

                    color: #fff;
                    text-transform: uppercase;
                    text-decoration: none;

                    transition: ease .3s;

                    &.disabled {
                        pointer-events: none;
                        cursor: 'not-allowed';

                    }

                    &:hover {
                        background-color: darken($primary, 4%);
                    }

                    &:active {
                        background-color: darken($primary, 17%);
                    }
                }
            }
        }
    }
}


#ultimas-novidades-blog {
    margin-bottom: 100px;

    .title-box {
        text-align: left;
        width: 100%;
        padding-left: 15px;
        margin-bottom: 25px;

        .title-style {
            font-size: 30px;
            color: #6b6f72;
            font-weight: 600;
        }
    }

    #ultimas_novidades_container {
        .grid {
            display: grid;
            grid-template-columns: 4fr 4fr 4fr; //Calcular espaçamento
            grid-auto-rows: 255px 250px;
            grid-column-gap: 30px;
            grid-row-gap: 1em;

            .bloco {
                position: relative;
                box-sizing: border-box;
                border-radius: 10px;
                border: 1px solid #f1f1f1;
                overflow: hidden;

                img {
                    position: absolute;
                }

                .ajustar_cover {
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }

                &:before {
                    content: "";
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    //background: #000;
                    opacity: .3;
                    border-radius: 10px;
                    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 30%, rgba(0, 0, 0, .8) 90%);

                }

                &:hover {
                    .box_descricao {
                        display: none;
                    }

                    .box_hover_artigo {
                        bottom: 0;
                    }
                }

                .box_descricao {
                    z-index: 3;
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    transition: .6s;
                    border-radius: 10px;
                    padding-bottom: 20px;

                    .tag_geral {
                        font-size: 15px;
                        padding: 5px 12px;
                        border-radius: 5px;
                        color: #fff;
                        background: $primary;
                        margin-left: 20px;
                    }

                    .titulo_artigo {
                        display: block;
                        padding: 20px;
                        text-align: left;
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 1;
                        color: #fff;
                    }
                }

                .box_hover_artigo {
                    z-index: 3;

                    position: absolute;
                    bottom: -500px;
                    left: 0;
                    width: 100%;
                    height: auto;
                    transition: .3s;
                    border-radius: 15px 15px 0 0;
                    padding: 20px 20px 0 20px;

                    .titulo_hover {
                        text-align: left;
                        font-size: 20px;
                        font-weight: bold;
                        line-height: 1.3;
                        color: #fff;
                    }

                    p {
                        text-align: left;
                        line-height: 1.3;
                        font-weight: 300;
                        color: #fff;
                    }



                    &.box_geral {
                        border-top-left-radius: 25px;
                        border-top-right-radius: 25px;
                        background-color: $primary-shadow;

                    }
                }
            }

            a {
                &:nth-child(1n) {
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }

                &:nth-child(2n) {
                    grid-column-start: 2;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 1;
                }

                &:nth-child(3n) {
                    grid-column-start: 2;
                    grid-column-end: 2;
                    grid-row-start: 2;
                    grid-row-end: 2;
                }

                &:nth-child(4n) {
                    grid-column-start: 3;
                    grid-column-end: 3;
                    grid-row-start: 1;
                    grid-row-end: 1;
                }

                &:nth-child(5n) {
                    grid-column-start: 3;
                    grid-column-end: 3;
                    grid-row-start: 2;
                    grid-row-end: 4;
                }

                &:nth-child(6n) {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 3;
                    grid-row-end: 3;
                }
            }
        }
    }

}

@media(max-width:991px) {
    #ultimas-novidades-blog {
        .title-box {
            padding-left: 0;
        }

        .container {
            padding: 0;
        }

    }

}

@media(max-width:767px) {
    .page-template-templatestemplate-blog-php #bg-cabecalho .box-titulo .titulo {
        text-align: center;
    }

    #ultimas-novidades-blog {
        .title-box {
            text-align: center;
        }

        #ultimas_novidades_container {


            .container_artigos {
                .grid {
                    display: flex;
                    flex-direction: column;

                    .bloco {
                        margin-bottom: 30px;
                        min-height: 383px;

                        .box_descricao {
                            display: inline-block !important;
                            background: rgba(0, 0, 0, 0.4);
                            padding-bottom: 0 !important;

                            .titulo_artigo {
                                font-size: 18px;
                            }
                        }

                        .box_hover_artigo {
                            margin-top: 0;
                        }
                    }
                }
            }
        }

    }
}

@media(max-width:427px) {
    #pesquisa-blog-categorias {
        .form-pesquisa-categoria {
            form {
                .select {
                    select {
                        font-size: 15px;

                    }
                }
            }

        }
    }
}

@media(max-width:400px) {
    #pesquisa-blog-categorias {
        .form-pesquisa-categoria {
            form {
                .select {
                    select {
                        font-size: 57%;

                    }
                }

                .button {
                    a {
                        font-size: 14px;

                    }
                }
            }

        }
    }
}


//blog archive