.category {
    #bg-cabecalho {
        margin-bottom: 100px;

        .box-titulo .titulo {
            color: $primary
        }
    }
}

#row_category {

    .container_categ {
        margin-left: -15px;
        padding-top: 0;
        padding-bottom: 90px;

        .grid {
            display: grid;
            grid-template-columns: 4fr 4fr;
            grid-auto-rows: 250px 250px;
            grid-column-gap: 18px;
            grid-row-gap: 25px;

            .bloco {
                position: relative;
                box-sizing: border-box;
                border-radius: 5px;
                overflow: hidden;

                img {
                    position: absolute;

                }

                .ajustar_cover {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }


                &:before {
                    content: "";

                    z-index: 2;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: .3;
                    border-radius: 10px;
                    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0) 30%, rgba(0, 0, 0, .8) 90%);

                }

                &:hover {
                    .box_descricao {
                        display: none;
                    }

                    .box_hover_artigo {
                        bottom: 0;
                    }
                }

                .box_descricao {
                    position: absolute;
                    z-index: 3;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    transition: .6s;
                    border-radius: 10px;
                    padding-bottom: 20px;

                    .tag_geral {
                        font-size: 15px;
                        padding: 5px 12px;
                        border-radius: 5px;
                        color: #fff;
                        background: $primary;
                        margin-left: 20px;
                    }

                    .titulo_artigo {
                        display: block;
                        padding: 20px;
                        text-align: left;
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 1;
                        color: #fff;
                    }
                }

                .box_hover_artigo {
                    position: absolute;
                    bottom: -500px;
                    z-index: 3;

                    left: 0;
                    width: 100%;
                    height: auto;
                    transition: .3s;
                    border-radius: 15px 15px 0 0;
                    padding: 20px 20px 0 20px;

                    .titulo_hover {
                        text-align: left;
                        font-size: 20px;
                        font-weight: bold;
                        line-height: 1.3;
                        color: #fff;
                    }

                    p {
                        text-align: left;
                        line-height: 1.3;
                        font-weight: 300;
                        color: #fff;
                    }



                    &.box_geral {
                        border-top-left-radius: 25px;
                        border-top-right-radius: 25px;
                        background-color: $primary-shadow;

                    }


                }
            }

            a {


                &:nth-child(1n) {
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }

                &:nth-child(2n) {
                    grid-column-start: 2;
                    grid-column-end: 3;
                    grid-row-start: 1;
                    grid-row-end: 2;
                }

                &:nth-child(3n) {
                    grid-column-start: 2;
                    grid-column-end: 3;
                    grid-row-start: 2;
                    grid-row-end: 3;
                }

                &:nth-child(4n) {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 3;
                    grid-row-end: 3;
                }

                &:nth-child(5n) {
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 4;
                    grid-row-end: 5;
                }

                &:nth-child(6n) {
                    grid-column-start: 2;
                    grid-column-end: 3;
                    grid-row-start: 4;
                    grid-row-end: 6;
                }

                &:nth-child(7n) {
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 5;
                    grid-row-end: 7;
                }

                &:nth-child(8n) {
                    grid-column-start: 2;
                    grid-column-end: 3;
                    grid-row-start: 6;
                    grid-row-end: 7;
                }
            }

        }
    }

}

@media(max-width:767px) {
    .category {
        #bg-cabecalho {


            .box-titulo .titulo {
                text-align: center;
            }
        }
    }


    #row_category {


        .container_categ {
            margin-left: 0;

            .grid {
                display: flex;
                flex-direction: column;

                .bloco {
                    margin-bottom: 30px;
                    min-height: 383px;


                    .box_descricao {
                        display: inline-block !important;
                        background: rgba(0, 0, 0, 0.4);
                        padding-bottom: 0 !important;

                        .titulo_artigo {
                            font-size: 18px;
                        }
                    }

                    .box_hover_artigo {
                        margin-top: 0;
                    }
                }
            }
        }
    }

}