form {
    width: 100%;
    max-width: 830px;
    margin: auto;
    .wpcf7-not-valid-tip {
        display: block;
    }
    .radios,
    .checkboxes {
        margin-top: 20px;
        display: inline-block;
        label {
            font-size: 16px;
            color: #454e51;
            font-weight: normal;
        }
        input {
            display: none;
        }
        .wpcf7-list-item {
            margin-bottom: 20px;
            margin-left: -5px;
            display: inline-block;
        }
        .wpcf7-list-item:not(.last) {
            margin-right: 35px;
        }
        .wpcf7-list-item-label {
            position: relative;
            padding: 4px 0px 4px 35px;
            cursor: pointer;
            -webkit-touch-callout: none;
            /* iOS Safari */
            -webkit-user-select: none;
            /* Safari */
            -khtml-user-select: none;
            /* Konqueror HTML */
            -moz-user-select: none;
            /* Firefox */
            -ms-user-select: none;
            /* Internet Explorer/Edge */
            user-select: none;
            &:before {
                content: "";
                position: absolute;
                width: 26px;
                height: 26px;
                left: 0px;
                top: 0px;
            }
        }
    }
    .field {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin-bottom: 15px;
        width: 100%;
        @media (max-width: 991px) {
            &:not(.upload) {
                width: 100% !important;
            }
        }
        &>span:first-child {
            position: absolute;
            top: 0;
            left: 10px;
            bottom: 0;
            display: block;
            width: 100%;
            font-size: 14px;
            font-weight: 100;
            line-height: 52px;
            padding: 0 15px;
            margin: auto;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            pointer-events: none;
            color: #929292;;
            z-index: 1;
            @media (max-width: 415px) {
                font-size: 13px;
                line-height: 50px;
                left: 0;
            }
        }
        .wpcf7-form-control-wrap {
            display: block;
            position: relative;
        }
        input:not([type="radio"]):not([type="checkbox"]),
        select,
        textarea {
            background: #fff;
            width: 100%;
            height: 50px;
            font-size: 14px;
            font-weight: 300;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 5px;
            overflow: hidden;
            resize: none; 
            outline: none;
            text-align: left;
            color: #929292;;
            @extend .transition;
            @media (max-width: 991px) {
                width: 100% !important;
                min-width: initial !important;
            }
        }
        select {
            padding-top: 3px;
            line-height: 40px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
        }
        textarea {
            border-radius: 5px;
        }
        &.active {
            &>span:first-child {
                bottom: initial;
                font-size: 10px;
                font-weight: 400;
                line-height: 21px;
                margin-left: 2px;
                margin: initial;
                @extend .transition;
            }
            input,
            select,
            textarea {
                padding-left: 25px;
            }
            .wpcf7-form-control-wrap:before {
                -webkit-filter: grayscale(0%);
                filter: grayscale(0%);
            }
        }
        br {
            display: none;
        }
        textarea {
            padding-top: 22px;
            height: 110px;
            width: 100%;
        }
        &.uf {
            .wpcf7-form-control-wrap {
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    right: 22px;
                    top: 21px;
                    width: 17px;
                    height: 8px;
                    background: transparent url(../images/seta-select.png ) no-repeat center;
                    pointer-events: none;
                }
            }
        }
        &.titulo_form {
            font-size: 18px;
            width: 100%;
            margin-top: 20px;
            margin-bottom: -20px;
        }
        &.nome {
            width: 100%;
            margin-right: 0%;
        }
        &.email {
            width: 55%;
        }
        &.telefone {
            width: 40%;
            margin-left: 4%;
        }
        &.empresa {
            width: 49%;
        }
        &.site {
            width: 100%;
        }
        &.endereco {
            width: 49%;
        }
        &.bairro {
            width: 49%;
            margin-right: 2%;
        }
        &.cidade {
            width: 49%;
        }
        &.uf {
            width: 24%;
            margin-right: 2%;
        }
        &.interesse {
            width: 74%;
        }
        &.mensagem {
            width: 100%;
        }
        &.upload {
            float: right;
            width: auto;
            margin-top: 25px;
            margin-right: 40px;
            @media (max-width: 500px) {
                float: none;
                text-align: center;
                width: 100%;
                margin-top: -145px;
            }
        }
    }
    div.wpcf7-response-output {
        float: left;
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .uploader {
        display: inline-block;
        vertical-align: top;
        margin-right: 0;
        text-align: center;
        span.wpcf7-not-valid-tip {
            display: none !important;
        }
        .curriculo {
            margin-bottom: 0;
            position: relative;
            height: 50px;
            width: 182px;
            margin-bottom: 10px;
            &:hover {
                cursor: pointer;
            }
            &:before {
                display: none;
            }
            &:after {
                content: "Anexar Curr\00ED culo";
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                width: 200px;
                height: 55px;
                line-height: 50px;
                text-align: center;
                font-size: 18px;
                font-weight: 300;
                padding: 3px 0px;
                border-radius: 5px;
                box-shadow: 3px -1px 10px -2px rgba(0, 0, 0, 0.23);
                color: #fff;
                background: #999999;
                z-index: -1;
            }
            &.hasError {
                &:after {
                    background: red !important;
                }
            }
            input[type=file] {
                padding: 0;
                width: 203px;
                max-width: 203px;
                min-width: 203px;
                height: 100%;
                text-indent: -999em;
                cursor: pointer;
                opacity: 0;
            }
        }
        .formatos {
            margin-left: 10px;
            @media(max-width: 380px) {
                margin-left: -15px;
            }
        }
    }
    .enviar {
        float: right;
        position: relative;
        margin-top: 25px;
        @media (max-width: 500px) {
            width: 100% !important;
            text-align: center;
            margin-left: 0px;
            &.enviar_upload {
                margin-top: 100px;
            }
            input[type=submit] {}
        }
        input[type=submit] {
            width: 127px;
            height: 50px;
            background: $primary;
            border: none;
            border-radius: 5px;
            font-size: 20px;
            color: #fff;
            outline: none;
            cursor: pointer;
            @extend .transition;
            &:hover {
                background: darken($primary, 8%);
            }
        }
        .ajax-loader {
            position: absolute;
            margin-left: 0px;
            bottom: -30px;
            top: initial;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
        }
    }
}

#row_contato_sucesso{
    text-align: center;
    padding: 100px 0;
    padding-bottom: 70px;
    .title-style::before{
        left: calc(50% - 33px);
        
    }
}

#sec_form_home{
    padding: 110px 0;
    padding-bottom: 140px;
    .title-style{
        text-align: left;
        margin-bottom: 27px;
    }
    svg{
        margin-bottom: 30px;
    }

    .wpcf7-response-output{
        text-align: center;
        margin-left: 0;
    }
}


#sec_form_contato{
    padding: 100px 0;

    .wpcf7-response-output{
        text-align: center;
        margin-left: 0;
    }

    strong{
        color: $primary;
    }
}