#sec_slide_pages2{
    min-height: 260px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 71px;

    .title-style{
        font-size: 50px;
        color: #fff; 
    } 

}

#sec_info_cremacao{
    padding: 100px 0;
    padding-bottom: 65px;
    .wpb_text_column {
        margin-top: 30px;
        margin-right: 30px;
    }
}


#sec_documentos{
    color: #fff;
    min-height: 500px;
    padding-top: 130px;
    background-position-x: center;
    background-repeat: no-repeat;
    .title-style{
        text-align: left;
        color: #fff;
        margin-bottom: 40px;
    }

    ul{
        padding-left: 30px;
        font-size: 22px;
        line-height: 50px;
    }
    ::marker{
        font-size: 30px;
    }

    &.single_crem {
        padding-top: 60px;
        min-height: 380px;
        margin-bottom: 100px;
        .col_loc {
            padding-right: 64px;
            text-align: right;
            font-size: 22px;
            .title-style{
                text-align: right;
            }
        }

        .col_doc{
            padding-left: 64px;
        }

        
    }


}

#sec_faq{
    padding-bottom: 0;
    min-height: 750px;
    .title{
        position: relative;
        max-width: 445px;
        padding-top: 23px;
        padding-right: 30px;
        padding-bottom: 23px;
        padding-left: 36px;
        background: #78967F;
        border-radius: 20px;
        color: #fff;
        font-size: 20px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        cursor: pointer;
        &:before{
            content: '';
            position: absolute;
            right: 15px;
            top: 0px;
            bottom: 0;
            width: 14px;
            height: 100%;
            background: url(../images/arrow-b.png) center no-repeat;

        }

    }

    .active{
        margin: 0;
        .title{
            background: #456847;
        }
        .content{
            opacity: 1;
        } 
    }

    .content{
        position: absolute;
        opacity: 0;
        right: 0;
        top: 0;
        width: 57%;
        padding-top: 58px;
        padding-left: 65px;
        padding-right: 60px;
        padding-bottom: 60px;  
        background: #F2F2F2;
        border-radius: 20px;
        @extend .transition;
        .title_resp{
            font-weight: bold;
            font-size: 22px;
            margin-bottom: 30px;
        }
    }
}


@media(max-width: 1199px){
    #sec_info_cremacao .wpb_text_column{
        margin-top: 0;
    }

    
    #sec_faq{
        .content{
            position: relative;
            width: 100%;
            display: none;
            margin-bottom: 35px;
        }
        .title{
            margin-right: 0;
            max-width: 100%;
        }
        .active{
            .content{
                display: block;
            }
        }
    }

    #sec_documentos{
        padding: 90px 0;
        margin-bottom: 0 !important;

    }

    #sec_crematorios{
        padding: 60px 15px;

        .row_crematorios .box_crematorios {
            justify-content: space-around;
            .crematorio{
                margin-right: 0;
                margin-left: 0;
            }
        }
    }

    #sec_documentos{
        
        &.single_crem{
            padding-top: 0px;
            margin-bottom: 0;

        }
        .col_loc, .col_doc  {
            padding-top: 30px;
            font-size: 20px !important;
        }
        .wpb_text_column {
            margin-bottom: 0;
        }

    }


}


@media(max-width: 991px){
    #sec_documentos{
        background: #4c6351 !important;
        
        padding-bottom: 40px;
        padding-top: 40px;
        min-height: auto;

        .vc_col-sm-7{
            max-width: 100%;
            width: 100%;
        }
        
        &.single_crem{
            padding-top: 0px;
            margin-bottom: 0;
            background: none !important;

        
        .vc_col-sm-4{
            width: 100%;
            text-align: center !important;
            background: #c68d46;
            border-radius: 45px;
            padding: 25px !important;
            margin-bottom: 35px;
        }
        .title-style{
            text-align: center !important;
        }

        .vc_col-sm-8{
            width: 100%;
            text-align: center !important;
            background: #4c6351;
            border-radius: 45px;
            padding: 25px !important;
            padding-bottom: 35px !important;
            margin-bottom: 35px;
            ul{
                list-style: none;
                padding-left: 0;
                line-height: 35px;
            }
            .vc_column-inner{
                padding: 0;
            }
        }
    }
    }
}


@media(max-width: 767px){

    #sec_slide_pages2{
        .title-style{
            font-size: 35px;
            line-height: 40px;
        }
       
    }

    #sec_info_cremacao .wpb_text_column{
        margin-right: 0;
    }



    #sec_info_cremacao{
        margin-top: 15px;
        margin-bottom: 50px;
        
        .wpb_text_column, .wpb_single_image  {
            text-align: center;
        }
    }

}