@import 'variaveis';

#footer {
    background: #fff;
    padding-top: 70px;
    border-radius: 45px;
    margin-top: -40px;
    z-index: 5;
    position: relative;

    .row{
        margin: 0;
    }

    .box2,
    .box3,
    .box4 {
        padding-top: 25px;
    }

    .box {
        margin-bottom: 15px;
        padding: 0;
        padding-top: 25px;
        margin-right: 30px;

        .tit-brinquedos,
        .tit-pagamento,
        .tit-contato {
            font-weight: bold;
            color: #fff;
            margin-bottom: 25px;
        }

        ul {
            padding: 0;
            list-style: none;

            li {
                margin-bottom: 4px;

                a,
                p {
                    color: #fff;
                    @extend .transition;
                    font-size: 15px;
                }

                a:hover {
                    color: $primary;
                    text-decoration: none;
                }
            }
        }
    }

    //box
    .box1 {

        @media(max-width: 1199px) {
            img {
                margin-top: 40px;
            }
        }

        @media(max-width: 767px) {
            img {
                margin-top: 0px;
            }
        }
    }

    .box2 {
        font-size: 16px;
        line-height: 30px;
        a{
            color: #404040;
            @extend .transition;
            &:hover{
                text-decoration: none;
                color: $secondary;
            }
        }
        .title{
            color: $primary;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
        }
    }

    .box3 {

        max-width: 300px;
        margin: auto !important;


        img, svg{
            margin-bottom: 30px;
            font-size: 27px;
        }
        

    }


    .copy {
        
        font-size: 14px;
        color: #666666;
        margin-top: 20px;

        .lado{
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #B1B1B170;
            padding: 25px 0px;
            
        }

        a {
            margin-left: 15px;
        }

        img {
            height: 24px;
            width: auto;
        }
    }

    @media(max-width: 1199px) {

        .box1,
        .box2,
        .box3,
        .box4 {
            margin: 0 5.6px;
        }
    }

    @media(max-width: 1199px) {

        .box1,
        .box2,
        .box3,
        .box4 {
            width: 48%;
            margin: 0 1%;
        }
    }


    @media(max-width: 991px) {
        .box1 img{
            max-width: 90%;
        }
    }

    @media(max-width: 767px) {

        .box1,
        .box2,
        .box3,
        .box4 {
            width: 100%;
            text-align: center;
        }
    }
}