.form {
    form {
        .field {
            position: relative;

            &.active {
                span:nth-child(1) {
                    top: 30px;
                    font-size: 12px;
                    color: $primary;
                }

                input,
                select,
                textarea {
                    border: 1px solid $primary;
                }
            }

            span:nth-child(1) {
                position: absolute;
                top: 38px;
                left: 20px;
                text-align: left;
                font-size: 20px;
                font-weight: 400;
                line-height: 1.5;
                pointer-events: none;
                transition: .3s;
                color: rgba(#545352, .5);
                z-index: 10;
            }

            input,
            select,
            textarea {
                display: block;
                width: 100%;
                text-align: left;
                font-size: 18px;
                padding: 15px 20px 10px 20px;
                margin: 0 auto;
                box-sizing: border-box;
                border: 1px solid #EEEEEE;
                border-radius: 5px;
                outline: none;
                resize: none;
                transition: .3s;
                color: rgba(#545352, .5);
                background: #EEEEEE;
            }

            textarea {
                max-height: 104px;
            }

            &.half {
                display: inline-block;
                width: 48%;
                margin: 0 auto;

                &.telefone {
                    margin-right: 17px;
                }
            }

            &.curriculo {
                text-align: center;

                label {
                    background: #fff;
                    color: $primary;
                    padding: 10px 50px;
                    border-radius: 10px;
                    cursor: pointer;
                    margin-bottom: 0;
                    transition: ease .3s;
                    text-transform: uppercase;

                    i {
                        margin-right: 5px;
                    }

                    &:hover {
                        background: darken(#fff, 10%);
                    }

                    &.anexado {
                        background: #93BC39;
                        color: #fff;
                    }

                    &.hasError {
                        background: #EE3E54;
                        color: #fff;

                    }
                }

                input {
                    display: none;

                }
            }

        }

        

        .enviar {
            position: relative;

            input {
                display: block;
                max-width: 190px;
                min-width: 190px;
                text-align: center;
                font-size: 24px;
                font-weight: bold;
                line-height: 1.5;
                padding: 8px 0;
                margin: 0 auto;
                margin-right: 0;
                margin-top: 30px;
                margin-bottom: 30px;
                box-sizing: border-box;
                border-radius: 5px;
                border: none;
                outline: none;
                transition: .3s;
                cursor: pointer;
                color: #fff;
                background: $primary;

                &:hover {
                    background: darken($primary, 10%);
                }
            }
        }


        .ajax-loader {
            position: absolute;
            top: 18px;
            right: 220px;
        }
    }

    .wpcf7-response-output {
        display: none !important;
    }
}