#header {
  z-index: 2;
  position: relative;
  .main-menu {
    position: relative;
  }
  .top_header {
    width: 100%;
  }
  .main-menu {
    min-height: 80px;
    .textwidget {
      width: 100%;
    }
    &.header_bottom {
      min-height: 0px;
      .contents {
        padding: 15px 0 15px 0;
        ul {
          margin-bottom: 0;
        }
        .box-menu {
          width: 100%;
        }
        .menu {
          display: flex;
          justify-content: space-around;
        }
      }
    }
    .top_header {
      display: flex;
      align-items: center;
      .col-4 {
        display: flex;
        align-items: center;
        height: 100px;
        a {
          color: #c68d47;
          font-size: 23px;
          font-weight: bold;
        }
        &.col_3 {
          zoom: 0.8;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: center;
          a {
            margin: 5px 15px;
          }
        }
      }
    }
  }

  .header_bottom {
    background: $primary;
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
  }

  .container_header {
    position: relative;

    .header_telefone,
    .header_rede_social {
      list-style-type: none;
      padding: 0;
      color: #fff;

      li {
        display: inline-block;
        max-width: 50%;

        i {
          margin-right: 8px;
          color: $secondary;
        }

        a {
          text-decoration: none;
          text-align: left;
          font-size: 14px;
          font-weight: 400;
          transition: 0.3s;
          color: #fff;

          &:hover {
            color: $secondary;
          }
        }
      }
    }

    .box-logo {
      a {
        display: inline-block;
        text-decoration: none;
        width: 242px;
        height: 57px;
        background: url(../images/logo.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        .logo {
          display: none;
        }
      }
    }

    .header_rede_social {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      li {
        a {
          i {
            font-size: 20px;
            margin: 0 auto;
            transition: 0.3s;
            color: #fff;

            &:nth-child(1) {
              margin-left: 10px;
            }

            &:hover {
              color: $secondary;
            }
          }
        }
      }
    }
  }

  .contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 5px 0;

    .box-menu {
      .menu {
        list-style-type: none;
        padding: 0;
        .menu-item-has-children {
          position: relative;
          &:before {
            content: "";
            position: absolute;
            background: url(../images/arrow-d.png);
            width: 11px;
            height: 7px;
            right: -6px;
            top: 13px;
            cursor: pointer;
          }
        }

        li {
          position: relative;
          display: inline-block;
          &.contato_loja {
            border-radius: 50px;
            box-sizing: border-box;
            transition: 0.3s;
            color: #fff;
            background: $secondary;

            &:hover {
              background: #a5793f;
            }

            a {
              padding: 9px 20px;
              color: #fff;

              &:hover {
                color: #fff;
              }
            }
          }

          &:hover {
            .sub-menu {
              display: block;
            }
          }

          a {
            display: block;
            text-decoration: none;
            text-align: center;
            font-size: 17px;
            font-weight: 400;
            line-height: 1.5;
            padding: 5px 14px;
            transition: 0.3s;
            color: #fff;

            &:hover {
              color: $secondary;
            }
          }

          & .sub-menu {
            position: absolute;
            display: none;
            top: 29px;
            left: 0;
            width: 223px;
            padding: 0;
            padding-top: 20px;
            box-sizing: border-box;
            box-shadow: 2px 2px 20px rgba($primary, 0.5);
            z-index: 10;

            li {
              display: block;
              padding: 3px 5px;
              transition: 0.3s;
              background: #fff;

              &:hover {
                background: $secondary;

                a {
                  color: #fff;
                }
              }

              a {
                display: block;
                text-align: left;
                color: $secondary;
              }
            }
          }
        }
      }
    }

    .box-mobile,
    .menu-mobile {
      display: none;
    }
  }

  .cta-header {
    display: none;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    background: $primary;
    &.fixo {
      display: block;
      top: 0px;
      position: fixed;
      width: 100%;
    }
    .row {
      justify-content: center;
      align-items: baseline;
      .contato {
        font-family: "Niramit";
      }
      .box-tels {
        .tels {
          a {
            font-size: 24px;
            font-weight: 300;
            i {
              font-size: 18px;
            }
          }
        }
      }
    }
    .contato,
    a {
      line-height: 52px;
      color: #fff;
      i {
        font-size: 14px;
      }
    }
    a {
      font-weight: bold;
      margin-right: 0px;
      display: flex;
      margin-left: 40px;
      i {
        font-weight: 400;
        font-style: normal;
        margin-right: 5px;
      }
      &:hover {
        text-decoration: none;
        opacity: 0.85;
      }
    }
    .textwidget {
      display: flex;
    }
  }
  @media (max-width: 991px) {
    .cta-header {
      .textwidget {
        flex-wrap: wrap;
        justify-content: center;
        a {
          margin-right: 15px;
        }
      }
    }
    .box-menu .menu-hamburger {
      display: inline;
      font-size: 24px;
      position: relative;
      top: 37px;
    }
    .box-menu .menu-menu_principal-container {
      display: none;
    }
  }
  @media (max-width: 767px) {
    .cta-header {
      padding-bottom: 15px;
      a,
      a:first-child {
        line-height: 35px;
        margin-left: 30px;
        margin-right: 30px;
      }
    }
  }
}

#bg-cabecalho {
  &.cabecalho_blog {
    .box-titulo {
      .titulo {
        color: #000;
      }
    }
  }

  .box-titulo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 381px;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;

    .titulo {
      text-align: left;
      font-size: 45px;
      font-weight: bold;
      line-height: 1.5;
      margin: 0 auto;
      color: #fff;
    }
  }
}

/* RESPONSIVO
___________________________*/

@media (max-width: 1199px) {
  #header {
    .topHeader {
      .left {
      }

      //left
      .right {
        display: inline-block;
      }

      //right
    }

    //top-header
    .main-menu {
      .contents {
        .box-menu {
          ul.menu {
            li {
              margin-right: 30px;
            }
          }
        }
      }
    }

    //main-menu
  }

  //header
}

//1200
@media (max-width: 991px) {
  #header {
    svg {
      zoom: 0.7;
      margin-left: 45px;
    }

    .topHeader {
      max-width: 100%;

      .left {
        display: none;
      }

      //left
      .right {
        width: 100%;
        text-align: center;

        .busca {
          max-width: 420px;
          margin: 0 auto;
        }
      }

      //right
    }

    //top-header
    .main-menu {
      .contents {
        position: relative;
        min-width: 100%;
        align-items: center;

        .box-menu {
          nav {
            display: none;
          }

          .menu-mobile {
            display: flex;
            justify-content: flex-end;
            color: #fff;
            font-size: 25px;
            padding-right: 25px;
          }
        }

        //box-menu
        .box-mobile {
          border-top: 3px solid $primary;
          display: none;
          position: fixed;
          width: 100%;
          max-width: 100vw;
          top: 0px;
          left: 0px;
          background: $primary;
          opacity: 0;
          z-index: 99999;
          color: #000;
          height: 0;
          .menu {
            display: block;
          }
          .box-fechar {
            margin-top: 10px;
            margin-right: 30px;
            text-align: right;
          }
          nav {
            text-align: center;
            margin-top: 50px;
            max-height: 90vh;
            overflow: hidden;
            overflow-y: auto;
            padding-bottom: 50px;
            ul {
              padding-left: 0px;
              margin-bottom: 0px;
              list-style: none;
              list-style: none;
              li {
                display: inline-block;
                width: 100%;
                font-weight: 500;
                font-size: 25px;
                color: #000;
                opacity: 0;
                margin-top: -80px;
                margin-bottom: 15px;
                &.clicked > a {
                  &::after {
                    transform: rotateX(180deg);
                  }
                }
                &.menu-item-has-children > a {
                  position: relative;
                  &::after {
                    content: "";
                    display: inline-block;
                    background: url("../images/arrow-d.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-left: 10px;
                    width: 20px;
                    height: 10px;
                  }
                }
                .sub-menu {
                  display: none;
                  li {
                    font-size: 18px;
                  }
                }
                a {
                  color: #fff;
                }
              }
            }
          }
        }
      }

      //contents
    }

    //main-menu
  }

  //header
}

//991
@media (max-width: 767px) {
  #header {
    .main-menu {
      .contents {
        justify-content: center;
        .top_header {
          .col_1 {
            display: none;
          }
        }

        .box-logo {
          margin-top: initial;

          .logo {
            width: 121px;
            height: 80px;
          }
        }

        .box-menu {
          width: 60%;
          text-align: right;

          .menu-mobile {
            font-size: 25px;
            padding-right: 25px;
          }
        }
      }
    }

    .main-menu .top_header {
      display: flex;
      flex-direction: column;
      margin: 25px;
      padding-top: 13px;
      height: 0;
      .col-4 {
        width: 100%;
        max-width: 100%;
        justify-content: center;
        margin-bottom: 5px;
        margin-top: 5px;
      }
      .col_1 {
        display: none;
      }

      .col_3 {
        position: absolute;
        bottom: -142px;
        z-index: 5;
        display: block;
        filter: brightness(5);

        a {
          margin: 5px 5px;
          font-size: 18px;
          img {
            zoom: 0.7;
          }
        }

        a:nth-child(n + 3) {
          display: none;
        }
      }
    }
  }
}

//767
