#sec_slider {
  min-height: 465px;
  margin-top: -70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  overflow: visible;

  .col_slider {
    height: 435px;
    padding-top: 60px;
    display: flex;
    align-items: center;
    padding-bottom: 60px;
  }

  .title-style {
    color: $primary;
    font-size: 60px;
    margin-bottom: 10px;
  }
  .wpb_single_image {
    text-align: center;
    position: absolute;
    left: calc(50% - 14px);
    bottom: -40px;
  }
  .box_tel {
    width: 210px;
    height: 40px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $secondary;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    @extend .transition;
    &:hover {
      background: #b57d37;
    }
    a {
      color: #fff;
      width: 100%;
      height: 58px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        text-decoration: none;
      }
    }
    .wpb_wrapper {
      width: 100%;
    }
  }
}

#sec_txt_home {
  padding: 90px 15px;
  text-align: center;
  .wpb_text_column {
    margin-bottom: 0;
  }
}

#sec_saiba_proc {
  padding: 90px 15px;
  color: #fff;
  .wpb_text_column {
    margin-bottom: 0;
  }
  .row_lista_proc {
    padding: 0 5px;
    text-align: center;
    .vc_column_container > .vc_column-inner {
      padding-left: 10px;
      padding-right: 10px;
    }

    .wpb_text_column {
      background: #fff;
      color: #666666;
      padding: 40px 10px;
      border-radius: 10px;
      box-shadow: 3px 6px 15px #00200626;
      min-height: 300px;
    }
  }
}

#sec_crematorios {
  padding: 90px 15px;
  padding-bottom: 10px;
  .row_crematorios {
    .box_crematorios {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 29px;

      a:hover {
        text-decoration: none;
      }
      .crematorio {
        width: 350px;
        margin: 0;
        font-weight: bold;
        color: #666666;
        h3 {
          font-size: 18px;
          max-width: 210px;
          margin: auto;
          text-align: center;
          font-weight: bold;
          margin-top: 20px;
        }

        img {
          border-radius: 11px;
          max-width: 100%;
          @extend .transition;
        }
        &:hover {
          color: #4c4c4c;
          img {
            box-shadow: 0px 0px 20px 4px #4b635050;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  #sec_slider .wpb_single_image {
    top: 370px;
  }

  #sec_saiba_proc {
    .row_lista_proc {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .vc_col-sm-1\/5 {
        width: 33%;
        margin-bottom: 20px;
      }
    }
  }
  form .field.telefone {
    margin-left: 0 !important;
  }
}

@media (max-width: 767px) {
  #sec_saiba_proc .row_lista_proc .vc_col-sm-1\/5 {
    width: 100%;
    margin-bottom: 25px;
    .wpb_text_column {
      padding: 40px;
    }
  }

  #sec_crematorios .row_crematorios .box_crematorios .crematorio {
    margin: 0 !important;
    h3 {
      margin-top: 15px;
      margin-bottom: 50px;
    }
  }

  #sec_slider .wpb_single_image {
    top: 310px;
  }

  #sec_slider .title-style {
    font-size: 35px;
  }

  #sec_form_home {
    padding: 30px 0 !important;

    .wpb_raw_html {
      max-width: 300px;
      margin: auto;
    }
    .title-style {
      text-align: center !important;
    }
    .wpb_raw_html {
      text-align: center;
    }
  }

  .title-style {
    text-align: center;
  }
}

@media (max-width: 475px) {
  #sec_slider .wpb_single_image {
    top: 330px;
  }
}
