/* BASE
___________________________*/


body {
    overflow-x: hidden;
    overflow-y: scroll;
    color: #444444;
    font-size: 16px;
    @extend .fonte;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    @extend .fonte;
}

.no-img {
    background: #ccc;
    height: 100%;
}

.skeleton {
    display: none;
    grid-template-columns: 4fr 4fr;
    grid-auto-rows: 250px 250px;
    grid-column-gap: 18px;
    grid-row-gap: 25px;
    margin-bottom: 30px;


    .loading {
        overflow: hidden;
        position: relative;
        max-width: 100%;
        object-fit: cover;
        border-radius: 5px;
        background: #eee;

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: -150px;
            width: 100%;
            top: 0;
            height: 100%;
            background: linear-gradient(to right, transparent 0%, #ccc 50%, transparent 100%);
            animation: load 1s infinite cubic-bezier(0.4, 0.0, 0.2, 1);
        }

        &:nth-child(1n) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3;
        }

        &:nth-child(2n) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        &:nth-child(3n) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }

        &:nth-child(4n) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 3;
        }
    }
}

@keyframes load {
    from {
        left: -150px;
    }

    to {
        left: 100%;
    }
}


::-moz-selection {
    background: $primary;
    color: #FFF;
}

::selection {
    background: $primary;
    color: #FFF;
    
}
