// sidebar
.sidebarBlog {
    #pesquisa-blog-single-categorias {
        margin: 0px 0 110px 0;

        .title-box {
            margin-bottom: 77px;
        }

        .form-pesquisa-categoria {
            form {
                margin: 0 auto;
                max-width: 768px;

                .select {
                    position: relative;
                    max-width: 100%;
                    margin-bottom: 20px;

                    select {

                        width: 100%;
                        height: 51px;
                        padding: 0 22px;

                        border: 0;
                        border-radius: 5px;
                        outline: 0;

                        background-color: rgb(255, 255, 255);
                        opacity: 0.8;
                        box-shadow: 0px 7px 25px 0px rgba(63, 63, 63, 0.2);
                        font-size: 16px;
                        font-weight: bold;
                        color: $primary;
                        text-transform: uppercase;

                        -webkit-appearance: none;
                        -moz-appearance: none;
                    }

                    i {
                        position: absolute;
                        z-index: 9999;
                        right: 0;
                        display: block;
                        color: $primary;
                        right: 15px;
                        pointer-events: none;
                        top: 50%;
                        transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);

                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

                .button {
                    width: 139px;
                    max-width: 100%;
                    margin-left: auto;

                    a {
                        width: 100%;
                        padding: 14px 10px;
                        display: inline-block;
                        text-align: center;

                        border-radius: 5px;
                        border: 0;
                        outline: 0;
                        background-color: $primary;
                        box-shadow: 0px 7px 25px 0px $primary-shadow;

                        color: #fff;
                        font-family: 'Roboto', sans-serif !important;
                        text-transform: uppercase;
                        text-decoration: none;

                        transition: ease .3s;

                        &.disabled {
                            pointer-events: none;
                            cursor: 'not-allowed';

                        }

                        &:hover {
                            background-color: darken($primary, 4%);
                        }

                        &:active {
                            background-color: darken($primary, 17%);
                        }
                    }
                }
            }
        }
    }


    .veja-tambem {
        padding-left: 40px;
        margin-bottom: 65px;

        .titulo {
            font-size: 18px;
            color: $primary;
            display: block;
        }

        ul {
            padding-left: 0;
            list-style: none;
        }

        .recents-post {
            margin-top: 37px;
            margin-bottom: 30px;


            a {
                text-decoration: none;
                font-size: 16px;
                color: #878787;
                font-weight: 300;
                margin-bottom: 20px;
                display: block;

                .thumb {
                    display: inline-block;
                    vertical-align: top;
                    width: 66px;
                    border-radius: 5px;
                    overflow: hidden;
                }

                .title {
                    display: inline-block;
                    vertical-align: top;
                    width: calc(100% - 71px);
                    font-size: 15px;
                    padding-left: 7px;
                }
            }
        }
    }

    .tags {
        padding-left: 40px;

        span {
            font-size: 18px;
            color: $primary;
            display: block;
            margin-bottom: 20px;
        }

        ul {
            list-style: none;
            padding-left: 0;

            li {
                &+li {
                    margin-top: 10px;
                }

                a {
                    display: inline-block;
                    border: 1px solid $primary;
                    font-size: 14px;
                    color: $primary;
                    text-decoration: none;
                    padding: 5px 18px;
                    margin-right: 8px;
                }
            }
        }
    }
}

@media(max-width:991px) {
    .sidebarBlog {

        #pesquisa-blog-single-categorias {
            .form-pesquisa-categoria {
                form {
                    display: flex;
                    align-items: center;

                    .select {
                        margin-bottom: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .veja-tambem {
            padding-left: 0;

            .titulo {
                font-size: 20px;
                font-weight: bold;
            }

            .recents-post {
                a {
                    display: flex;
                    align-items: center;
                }
            }
        }

        .tags {
            padding-left: 0;
            margin-bottom: 80px;

            span {
                font-size: 20px;
                font-weight: bold;

            }

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;

                li {
                    &+li {
                        margin-bottom: 10px;
                        margin-top: 0;
                    }
                }
            }
        }

    }
}


@media(max-width:767px) {
    .sidebarBlog {
        margin-bottom: 80px;
    }
}

@media(max-width:415px) {
    .sidebarBlog {

        #pesquisa-blog-single-categorias {
            .form-pesquisa-categoria {
                form {
                    .select {
                        select {
                            font-size: 57%;

                        }

                        i {
                            font-size: 14px;
                        }
                    }

                    .button {
                        a {
                            font-size: 12px;

                        }
                    }
                }
            }
        }
    }
}