.single {
    #bg-cabecalho {
        margin-bottom: 100px;

        .box-titulo .titulo {
            color: $primary;

        }
    }


}

.backToBlog {
    display: none;
    text-align: center;
    margin-bottom: 80px;

    i {
        margin-right: 5px;
    }
}

#row-single {

    margin-bottom: 31px;


    .single-post {

        #list_tits {
            background: #eee;
            border-radius: 15px;
            padding: 30px;
            margin-bottom: 50px;

            p {
                font-size: 24px;
            }

            ul {
                list-style: none;
                padding-left: 0;
                counter-reset: section;

                li {
                    color: darken(darkblue, 10%);

                    &+li {
                        margin-top: 15px;
                    }

                    a {
                        color: darken(darkblue, 10%);

                    }

                    &::before {
                        content: counter(section) ": ";
                        counter-increment: section;


                    }
                }

            }

        }

        .dpsp-share-text,
        #dpsp-content-top {
            display: none;
        }

        .item {
            border: none;

            img {
                border-radius: 5px;
                max-width: 100%;
                height: auto;
                object-fit: cover;

            }

            .thumb {
                position: relative;
                padding-bottom: 10px;

            }

            .date {
                padding-left: 0;
                padding-top: 0;
                font-size: 14px;
                font-weight: 400;
                border-bottom: 1px solid #d5d5d6;
                padding-bottom: 30px;

                &:before {
                    display: none;
                }

                span {
                    color: $primary;
                }
            }

            .infos {
                border: none;
                padding: 22px 0;
            }

            .title {
                font-size: 30px;
                margin-bottom: 50px;
                margin-top: 30px;
                color: $primary;
                font-weight: 900;
            }

            h2 {
                font-weight: 700;
                font-size: 22px;
                color: #6f6f6f;
            }

            h3 {
                font-size: 20px;
                color: #666;
                font-weight: 600;
            }


            strong,
            b {
                font-weight: bold;
            }

            p,
            li {
                color: #666666;
                font-size: 16px;
                line-height: 1.7;
            }

        }
    }

}



@media(max-width:767px) {
    .backToBlog {
        display: block;
    }

    .single {
        #bg-cabecalho {
            text-align: center;
        }


    }

}

@media(max-width:720px) {
    #row-single {
        .single-post {

            .dpsp-share-text,
            #dpsp-content-top {
                display: block;
            }
        }
    }

}