#sec_slide_pages{
    min-height: 260px;
    margin-top: -35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 71px;

    .title-style{
        font-size: 60px;
        color: $primary;
    }

}