/* BASE
___________________________*/

.fonte {
    font-family: 'Cabin', sans-serif;
    line-height: 1.5;
}

.title-style{
    margin-bottom: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}


.transition {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.efeito-tremer {
    -webkit-animation: swing 0.5s ease;
    animation: swing 0.5s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
}


/* CORES
___________________________*/

$primary: #4B6350 !default;
$primary-shadow: #2A432F !default;
$secondary: #C68D47 !default;